@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-100;
  }
  header {
    @apply bg-slate-800 shadow-md;
  }
  nav {
    @apply p-5 max-w-screen-lg mx-auto flex items-center justify-between *:space-x-6 *:flex *:items-center;
  }
  main {
    @apply max-w-screen-lg min-h-screen mx-auto p-5;
  }

  footer {
    @apply w-full mx-auto bg-slate-600 text-slate-300 text-xs py-6 px-16 flex items-center justify-between *:space-x-6 *:flex *:items-center;
  }
}

@layer components {
  .btn-primary {
    @apply text-white bg-indigo-600 px-14 py-1.5 rounded-md shadow-sm hover:bg-indigo-700 active:ring-2 ring-offset-1 ring-indigo-700 disabled:bg-slate-300 disabled:text-slate-100 disabled:cursor-not-allowed;
  }
  .nav-link {
    @apply text-slate-200 hover:bg-slate-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium;
  }
  .nav-link-active {
    @apply bg-slate-700;
  }
}